@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

    scroll-behavior: smooth;
} 

:root{
    --fs-base: 1rem; /* 1rem -> 16px */





    --primary-color: #0F0F0F;
    --blue: #0596FF;
    --teal: #3C64B1;
    --input-gray: #737B7D;


}


p {
    font-size: var(--fs-base);
    font-size: 16px;
}


.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* NAV */

.nav-container{
    background-color: #0F0F0F;
    min-height: 10VH;


}


.body-container{
    background-color: #0596FF;
    min-width: 100vh;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
    min-width: 1400px;
}

.main-container{

    background-color: #737B7D;
    min-width: 1400px;
    min-height: 90vh;

    margin: 0 auto;
}