@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

    scroll-behavior: smooth;
} 

:root{
    --fs-base: 1rem; /* 1rem -> 16px */
    --fs-medium: 2rem;

    --primary-color: #0F0F0F;
    --blue: #0596FF;
    --teal: #3C64B1;
    --input-gray: #737B7D;

}

a{
    text-decoration: none;
}


img{
    max-width: 100%;
    height: auto;
}



.main-container{
    background-color: rgba(0, 0, 0, 0.121);

    max-width: 1400px;
    min-height: 90vh;
    /* padding: 0 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;
}

.img-attributes{
    max-height: 32px;
}

.btn-container{
    background-color: var(--blue);

    padding: 1.7rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    margin-top: var(--fs-base);

}

.sign-in-btn a{
    color: white;
}


/* --------- F0RM SECTION --------- */

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.input-box-2{
    display: flex;
    flex-direction: column;

    
    width: calc(100% / 2 - 1rem);
    
}

.input-container{
    height: 2.5rem;
    width: 100%;

    padding-left: 1rem;

    border-radius: .5rem;
    border: 1px solid #0597ff33;
}

.details{
    font-weight: 500;
    margin-bottom: .25rem;


}

.height-3rem{
    height: 1rem;
}





/* --------- JOBS CONTAINER --------- */

.grid{
    display: grid;
}

.grid-col-2{
    background-color: #0596FF;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

    width: 100%;
}

.filters-container{
    background-color: aliceblue;

    padding: 1rem;


}

.job-cards-container{
    background-color: violet;

    padding: 1rem;
    gap: 2rem;
}

.flex{
    display: flex;
    flex-direction: column;
}

.filters-section{
    gap: 1.2rem;
}

.gap-12{
    gap: .8rem;
}





.width-100{
    width: 100%;
}

.padding-r{
    padding-right: 1rem;
}


.search-container{
    width: inherit;

    grid-template-columns: 3fr 1fr;
    gap: 1.2rem;
}


.gap-16{
    gap: 1rem;
}




/* cards cards cards cards cards*/







.img-attributes{
    max-height: 32px;
}

.btn-container{
    background-color: var(--blue);

    padding: 1.7rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    margin-top: var(--fs-base);

}

.sign-in-btn a{
    color: white;
}


/*---------- CARDS SECTION ----------- */

.cards-container{
    /* background-color: #737B7D; */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    padding: 1.25rem;

    background: linear-gradient(0deg, rgba(5, 150, 255, 0.05), rgba(5, 150, 255, 0.05)), #FFFFFF;
    border: 1px solid rgba(5, 150, 255, 0.13);
    box-sizing: border-box;
    border-radius: .5rem;
    
}

.title-container{
    /* background-color: antiquewhite; */

    display: flex;
    justify-content: left;

    width: 100%;

}

.title-text{
    /* background-color: aliceblue; */

    display: flex;
    align-items: center;
    padding-left: 1rem;

    width: inherit;
    justify-content: space-between;

}

.card-text{
    /* background-color: azure; */
    display: flex;
    flex-direction: column;

    gap: .5rem;
}

.card-details{
    display: flex;
    gap: .25rem;
}

.location-style{
    color: #737B7D;
}

.apply-btn{
    background-color: var(--blue);

    display: flex;
    align-items: center;

    padding: .6rem;

    border-radius: 8px;


}

.btn-like-container{
    /* background-color: bisque; */

    width: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-btn{
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 20
}
/* END OF cards cards cards cards cards END OF END END END*/





/* ------------- PAGE SELECTION MENU ------------- */

.page-selection a{
    color: black;
}

.page-selection {

    background-color: orange;

    width: 100%;
    display: flex;
    justify-content: space-between;

    
}

.items-filter{
    display: flex;
    align-items: center;

    gap: .5rem;
}



.page-enum-container{
    display: flex;
    gap: .5rem;
}

.generic-btn{
    background-color: #F6F6F6;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .4rem .8rem;

    border-radius: 8px;

}

.blue-btn{
    background-color: var(--blue);
}