@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --fs-base: 1rem; /* 1rem -> 16px */
    --fs-medium: 2rem;
    --primary-color: #0F0F0F;
    --blue: #0596FF;
    --teal: #3C64B1;
    --input-gray: #737B7D;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}


/* -------- HELPER FUNCTIONS -------- */
.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*--------- IMAGE SECTION ---------*/

.img-attributes {
    max-height: 32px;
}


/*--------- HEADER SECTION ---------*/

.header-container {
    /* background-color: var(--primary-color); */

    height: 10vh;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    /* transition: all 0.3s ease; */
}



/*--------- NAVBAR SECTION ---------*/
.navbar {
    /* background-color: #FF1493; */

    font-size: var(--fs-base);
    height: 10vh;
    min-height: 80px;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 4vw;
    padding-left: 4vw;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    /* background-color: coral; */
    height: inherit;
    min-height: 80px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#nav-logo {
    /* background-color: crimson; */

    font-size: 2rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-menu {
    /* background-color: cornflowerblue; */

    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    height: 10vh;
}


/* ---------  BODY CONTAIONERS SECTION --------- */

.body-container {
    background-color: var(--primary-color);
    min-width: 100vh;
    min-height: 100vh;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    min-width: 1400px;
}

/* --------- WEB PAGE SECTIONS ---------- */

.relative {
    position: relative;
}

.height-90 {
    height: 90vh;
}

.page-section {
    background-color: var(--primary-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    /* background-color: purple; */

    max-width: 1400px;
    min-height: 90vh;
    /* padding: 0 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: white;
    min-width: 600px;
    width: 100%;
    padding: 4rem 4rem;
    border-radius: 8px;
    z-index: 99999;
}

.image-user {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.text-container {
}

.md-fs {
    font-size: var(--fs-medium);
    text-align: center;
}

.base-fs {
    font-size: var(--fs-base);
    text-align: center;
    padding-bottom: 1rem;
    width: 500px;
}

.pd-bottom {
    padding-bottom: var(--fs-base);
}

.pd-top {
    padding-top: var(--fs-base);
}

.odd-container {
    /* background-color: aquamarine; */
}

.even-container {
    /* background-color: papayawhip; */
}





/* --------- BUTTONS SECTION --------- */

.btn-container {
    background-color: var(--blue);
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: var(--fs-base);
}

.teal-bg {
    background-color: var(--teal);
}

.sign-in-btn a {
    color: white;
}

/* -------- FOOTER SECTION -------- */

.footer-container {
    background-color: var(--primary-color);
    height: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--fs-base);
    color: white;
    overflow-y: hidden;
}

/* --------- F0RM SECTION --------- */

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box-2 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 1rem);
}

.input-container {
    height: 2.5rem;
    width: 100%;
    padding-left: 1rem;
    border-radius: .5rem;
    border: 1px solid #0597ff33;
}

.details {
    font-weight: 500;
    margin-bottom: .25rem;
}

.height-3rem {
    height: 1rem;
}






/* --------- MATERIAL ICONS --------- */

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}




/* --------------- BACKGROUND SHAPES -------------*/
.bg-shapes-container {
    position: absolute;
    inset: 0;
    display: flex;
    /* overflow-y: hidden; */
}

.justify-r {
    justify-content: right;
    left: 1100px;
}

.justify-l {
    justify-content: left;
    right: 1150px;
}

.bg-shape {
    width: 520px;
    height: 520px;
    border-radius: 9999px;
    z-index: 1;
}

.opacity-50 {
    opacity: 1;
}

.bg-blur {
    filter: blur(170px)
}

.bg-teal {
    background-color: var(--teal);
    margin-left: 5rem;
}

.bg-purple {
    background-color: var(--pink-pink);
}
