@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --fs-base: 1rem; /* 1rem -> 16px */

    --primary-color: #0F0F0F;
    --blue: #0596FF;
    --teal: #3C64B1;
    --input-gray: #737B7D;
}


/*--------- IMAGE SECTION ---------*/

.img-attributes {
    max-height: 32px;
}

img {
    max-width: 100%;
    height: auto;
}

/*--------- HEADER SECTION ---------*/

.header-container {
    background-color: var(--primary-color);
    height: 10vh;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    /* transition: all 0.3s ease; */
}

/*--------- NAVBAR SECTION ---------*/
.navbar {
    font-size: var(--fs-base);
    height: 10vh;
    min-height: 80px;
    min-width: 100vh;
    margin: 0 auto;
    padding-right: 4vw;
    padding-left: 4vw;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    height: inherit;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#nav-logo {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* ----------- AUXILIARES ---------- */

.grid {
    display: grid;
}

.flex-gap {
    gap: 1rem;
}


/* ----------- BODY ---------- */

.body-container {
    /* background-color: #0596FF; */
    min-width: 100%;
    min-height: 100%;
}


/* ----------- WEB PAGE ---------- */

.section-2 {
    grid-template-columns: 35% 65%;
    gap: 2rem;
    min-height: 90vh;
}

.right-section {
    /* background-color: #3C64B1; */

    display: flex;
    flex-direction: column;
}

.left-section {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row-reverse;
}

.progress-container {
    /* background-color: aquamarine; */

    width: 80%;
    height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-container {
    /* background-color: aliceblue; */

    width: 100%;
    /* padding: 1rem; */

    display: flex;
    flex-direction: column;
}

.form-container {
    /* background-color: aquamarine; */

    width: 90%;
    min-height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.box-container {
    padding-right: 1rem;
}



/* ------------ TASK UL SECTION --------------*/


.li-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.task-list {
    /* margin: auto; */
    text-decoration: none;
    align-items: center;
    list-style: none;
}

    .task-list li:before {
        background-color: #95999A;
        width: 3px;
        content: '';
        position: absolute;
        top: 42px;
        bottom: -18px;
        left: 28px;
    }

    .task-list li:first-child:before, li:nth-child(2):before {
        background-color: rgba(5, 150, 255, .2);
    }


    .task-list li:last-child:before {
        height: 0px;
    }

    .task-list li {
        position: relative;
        font-size: 1.7rem;
        text-decoration: none;
        padding: 1rem;
        color: #95999A;
        font-weight: 700;
    }

    .task-list a {
        text-decoration: none;
        color: #95999A;
        font-size: 1.3rem;
        pointer-events: none;
    }

    .task-list li:after {
        width: 0;
    }

#selected-task, .selected-color {
    color: #0596FF;
    pointer-events: auto;
}

#finished-task, .finished-color {
    color: rgba(5, 150, 255, .2);
    pointer-events: auto;
}



/* -------- FORMULARIO -----------*/


.title-container {
    color: #373F41;
    padding: 1rem 1rem 1rem 0;
    line-height: 2.5rem;
}

    .title-container p {
        color: #737B7D;
        font-size: 1rem;
    }

.line-container {
    display: flex;
}

.input-box {
    width: 100%;
    flex: auto;
    /* padding-bottom: 1rem; */
}

    .input-box .details {
        color: black;
        font-weight: 500;
    }

    .input-box input, select {
        color: #0596FF;
        font-size: 1rem;
        display: flex;
        width: 100%;
        border: 1px solid;
        border-radius: 8px;
        border-color: rgba(5, 150, 255, .2);
        background-color: rgba(5, 150, 255, .05);
        padding: 1rem;
    }

        .input-box input::placeholder {
            color: #0596FF;
        }

.about-input {
    color: #737B7D;
    font-size: 1rem;
    display: flex;
    width: 100%;
    border: 1px solid;
    border-radius: 8px;
    border-color: rgba(5, 150, 255, .2);
    padding: 1rem;
    margin-top: .5rem;
    height: 6rem;
    resize: none;
}

.add-button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-weight: 600;
    color: #737B7D;
    font-size: 1rem;
    padding: 1rem;
    justify-content: center;
}

#word-count {
    color: #737B7D;
    text-align: right;
    padding: .5rem;
}

.fields-container {
    /* padding: 0 2rem 2rem 0; */
    justify-content: center;
    align-items: center;
}


.habilidad-container {
    display: flex;
}

.habilidad-container-titulo {
    color: black;
    font-weight: 500;
}

.range-slider-container {
    padding: 2rem 0;
}

/* -------- BOTÓN -----------*/

.button-container {
    display: flex;
    justify-content: space-between;
    /*    margin: 0 .5rem 0 0;*/
    text-decoration: none;
    padding-bottom: 1rem;
}

    .button-container .next-button {
        background-color: #0596FF;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        color: white;
        padding: 1rem 2.5rem 1rem 2.5rem;
        text-decoration: none;
    }

    .button-container .back-button {
        text-decoration: none;
        font-weight: 600;
        color: #737B7D;
        font-size: 1rem;
        padding: 1rem .5rem 1rem 0;
        justify-content: center;
    }


.height-90 {
    min-height: 90vh;
}

#progress-bar-menu {
    display: none;
}


@media screen and (max-width: 960px) {
    .form-container {
        width: 100%;
        min-height: 90vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .height-90 {
        height: auto;
    }

    #progress-bar-menu {
        display: block;
    }

    #progress-bar {
        display: none;
    }
}


.border-color-blue {
    border-color: rgba(5, 150, 255, .2);
}

.bg-gray-atos {
    background-color: #F2F2F2;
}

.footer-container {
    background-color: var(--primary-color);
    height: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--fs-base);
    color: white;
    overflow-y: hidden;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.padding-bottom {
    padding-bottom: 0;
}


/* Range Slider NO TOCAR */
.range-slider {
    --primary-color-slider: #0366d6;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color-slider);
    --value-font: 700 12px/1 Arial;
    --fill-color: var(--primary-color-slider);
    --progress-background: #eee;
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 22px;
    --thumb-color: white;
    --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset var(--thumb-color), 0 0 0 99px var(--primary-color-slider) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-height: 5px;
    --ticks-gap: var( --ticks-height, 0 );
    --step: 1;
    --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)) );
    --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
    --tickIntervalPerc: calc( (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) * var(--tickEvery, 1) );
    --value-a: Clamp( var(--min), var(--value, 0), var(--max) );
    --value-b: var(--value, 0);
    --text-value-a: var(--text-value, "");
    --completed-a: calc( (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100 );
    --completed-b: calc( (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100 );
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp( -1, 1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001), 1 );
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
}

    .range-slider[data-ticks-position=top] {
        --flip-y: 1;
    }

    .range-slider::before, .range-slider::after {
        --offset: calc(var(--thumb-size) / 2);
        content: counter(x);
        display: var(--show-min-max, block);
        font: var(--min-max-font);
        position: absolute;
        bottom: var(--flip-y, -2.5ch);
        top: calc(-2.5ch * var(--flip-y));
        opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
        transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
        pointer-events: none;
    }

    .range-slider::before {
        --before: 1;
        --at-edge: var(--thumb-close-to-min);
        counter-reset: x var(--min);
        left: var(--offset);
    }

    .range-slider::after {
        --at-edge: var(--thumb-close-to-max);
        counter-reset: x var(--max);
        right: var(--offset);
    }

.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2);
    --clip-end: calc(100% - (var(--cb)) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
    height: calc(var(--track-height));
    background: var(--progress-background, #eee);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}

    .range-slider__progress::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        -webkit-clip-path: var(--clip);
        clip-path: var(--clip);
        top: 0;
        bottom: 0;
        background: var(--fill-color, black);
        box-shadow: var(--progress-flll-shadow);
        z-index: 1;
        border-radius: inherit;
    }

    .range-slider__progress::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: var(--progress-shadow);
        pointer-events: none;
        border-radius: inherit;
    }

.range-slider > input {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    margin: 0;
    position: absolute;
    left: 0;
    top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

    .range-slider > input::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        height: var(--thumb-size);
        width: var(--thumb-size);
        transform: var(--thumb-transform);
        border-radius: var(--thumb-radius, 50%);
        background: var(--thumb-color);
        box-shadow: var(--thumb-shadow);
        border: none;
        pointer-events: auto;
        -moz-transition: 0.1s;
        transition: 0.1s;
    }

    .range-slider > input::-ms-thumb {
        appearance: none;
        height: var(--thumb-size);
        width: var(--thumb-size);
        transform: var(--thumb-transform);
        border-radius: var(--thumb-radius, 50%);
        background: var(--thumb-color);
        box-shadow: var(--thumb-shadow);
        border: none;
        pointer-events: auto;
        -ms-transition: 0.1s;
        transition: 0.1s;
    }

    .range-slider > input:hover {
        --thumb-shadow: var(--thumb-shadow-hover);
    }

        .range-slider > input:hover + output {
            --value-background: var(--value-background-hover);
            --y-offset: -5px;
            color: var(--value-active-color);
            box-shadow: 0 0 0 3px var(--value-background);
        }

    .range-slider > input:active {
        --thumb-shadow: var(--thumb-shadow-active);
        cursor: -webkit-grabbing;
        cursor: grabbing;
        z-index: 2;
    }

        .range-slider > input:active + output {
            transition: 0s;
        }

    .range-slider > input:nth-of-type(1) {
        --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
    }

        .range-slider > input:nth-of-type(1) + output {
            --value: var(--value-a);
            --x-offset: calc(var(--completed-a) * -1%);
        }

            .range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
                --flip: calc(var(--thumbs-too-close) * -1);
            }

            .range-slider > input:nth-of-type(1) + output::after {
                content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
            }

    .range-slider > input:nth-of-type(2) {
        --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
    }

        .range-slider > input:nth-of-type(2) + output {
            --value: var(--value-b);
        }

    .range-slider > input:only-of-type ~ .range-slider__progress {
        --clip-start: 0;
    }

    .range-slider > input + output {
        --flip: -1;
        --x-offset: calc(var(--completed-b) * -1%);
        --pos: calc( ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100% );
        pointer-events: none;
        position: absolute;
        z-index: 5;
        background: var(--value-background);
        border-radius: 10px;
        padding: 2px 4px;
        left: var(--pos);
        transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip) ));
        transition: all 0.12s ease-out, left 0s;
    }

        .range-slider > input + output::after {
            content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
            font: var(--value-font);
        }

.range-slider-container > .range-slider,
label[dir=rtl] .range-slider {
    width: 100%;
    min-width: 200px;
}
