@page
@model Atos.Pages.EnviarModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificaciones</title>
    <link rel="stylesheet" href="~/css/Enviar.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="grid section-2">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Sobre_mi">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Experiencia_profesional">Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/formacion_academica">Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Idiomas">Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Certificaciones">Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task">Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="form-container">
                    <div class="box-container">
                        <div class="fields-container">
                            <div class="line-container flex-gap">
                                <img class="img-enviar" src="~/img/enviar.png">
                            </div>
                            <div class="line-container-send flex-gap">
                                <div class="title-container">
                                    <h1>Envía tu información</h1>
                                    <p>Para poder acceder a la selección de vacantes es necesario enviar tu información.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <a class="back-button" asp-page="/Certificaciones">&larr; &nbsp; Regresar</a>
                        <a class="next-button" asp-page="/Informacion-publicada">Enviar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container"></div>
</body>
</html>