@page
@model Atos.Pages.Experiencia_profesionalModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia Profesional</title>
    <link rel="stylesheet" href="~/css/informacion-profesional.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="grid section-2">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Sobre_mi">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task" href="#">Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="form-container">
                    <div class="box-container">
                        <div class="title-container">
                            <h1>Experiencia Profesional</h1>
                            <p>Ingresa los siguientes datos solicitados para poder dirigirte a la siguiente seccion.</p>
                        </div>

                        <div class="fields-container">
                            <div class="line-container">
                                <div class="input-box">
                                    <span class="details">Puesto</span>
                                    <input type="text" placeholder="Puesto" id="puesto" name="puesto">
                                </div>
                            </div>
                            <div class="line-container">
                                <div class="input-box">
                                    <span class="details">Empresa</span>
                                    <input type="text" placeholder="Empresa" id="Empresa" name="Empresa">
                                </div>
                            </div>
                            <div class="line-container flex-gap">
                                <div class="input-box">
                                    <span class="details">Fecha de inicio</span>
                                    <input type="text" placeholder="Mes" id="mes" name="mes">
                                </div>
                                <div class="input-box">
                                    <span class="date-caption"> aaa </span>
                                    <input type="text" placeholder="Año" id="Año" name="Año">
                                </div>
                                <div class="input-box">
                                    <span class="details">Fecha de salida</span>
                                    <input type="text" placeholder="Mes" id="Mes" name="Mes">
                                </div>
                                <div class="input-box">
                                    <span class="date-caption"> bbb </span>
                                    <input type="text" placeholder="Año" id="Año" name="Año">
                                </div>
                                <div class="check-box">
                                    <input type="checkbox" id="check" value="check"> <p>Aún trabajo aquí</p>
                                </div>
                            </div>
                            <div class="line-container">
                                <div class="input-box">
                                    <span class="details">Actividades</span>
                                    <textarea class="about-input" id="about-input" rows="5" cols="50" placeholder="Actividades" maxlength="250" onfocus="countChar()" onkeydown="countChar()" onkeyup="countChar()"></textarea>
                                    <div id="word-count">
                                        <span id="current">0</span>
                                        <span id="maximum">/ 250</span>
                                    </div>
                                </div>
                            </div>
                            <div class="line-container">
                                <button class="add-button">＋ Añadir</button>
                            </div>
                        </div>
                        <div class="button-container">
                            <a class="back-button" asp-page="/Habilidades">&larr; &nbsp; Regresar</a>
                            <a class="next-button" asp-page="/formacion_academica">Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container"> </div>
</body>
</html>