@page
@model Atos.Pages.HabilidadesModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="~/css/Habilidades.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="grid section-2">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task" href="#">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="form-container">
                    <div class="box-container">
                        <div class="title-container">
                            <h1>Habilidades</h1>
                            <p>Ingresa los siguientes datos solicitados para poder dirigirte a la siguiente seccion.</p>
                        </div>
                        <div class="fields-container">
                            <div class="hablidad-container">
                                <div class="habilidad-container-titulo">
                                    <p>Habilidad 1</p>
                                </div>
                                <div class="range-slider-container">
                                    <div class="range-slider" style='--min:0; --max:100; --step:5; --value:70; --text-value:"70";'>
                                        <input type="range" min="0" max="100" step="5" value="70" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
                                        <output></output>
                                        <div class='range-slider__progress'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hablidad-container">
                                <div class="habilidad-container-titulo">
                                    <p>Habilidad 2</p>
                                </div>
                                <div class="range-slider-container">
                                    <div class="range-slider" style='--min:0; --max:100; --step:5; --value:70; --text-value:"70";'>
                                        <input type="range" min="0" max="100" step="5" value="70" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
                                        <output></output>
                                        <div class='range-slider__progress'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hablidad-container">
                                <div class="habilidad-container-titulo">
                                    <p>Habilidad 3</p>
                                </div>
                                <div class="range-slider-container">
                                    <div class="range-slider" style='--min:0; --max:100; --step:5; --value:70; --text-value:"70";'>
                                        <input type="range" min="0" max="100" step="5" value="70" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
                                        <output></output>
                                        <div class='range-slider__progress'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hablidad-container">
                                <div class="habilidad-container-titulo">
                                    <p>Habilidad 4</p>
                                </div>
                                <div class="range-slider-container">
                                    <div class="range-slider" style='--min:0; --max:100; --step:5; --value:70; --text-value:"70";'>
                                        <input type="range" min="0" max="100" step="5" value="70" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
                                        <output></output>
                                        <div class='range-slider__progress'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hablidad-container">
                                <div class="habilidad-container-titulo">
                                    <p>Habilidad 5</p>
                                </div>
                                <div class="range-slider-container">
                                    <div class="range-slider" style='--min:0; --max:100; --step:5; --value:70; --text-value:"70";'>
                                        <input type="range" min="0" max="100" step="5" value="70" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
                                        <output></output>
                                        <div class='range-slider__progress'></div>
                                    </div>
                                </div>
                            </div>


                            <div class="button-container">
                                <a class="back-button" asp-page="/Sobre_mi">🡨  Regresar</a>
                                <a class="next-button" >Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container"></div>
</body>
</html>
