@page
@model Atos.Pages.IdiomasModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css" />

    <link rel="stylesheet" href="~/css/idiomas.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="-body-container bg-primary bg-gray-900">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>
    </div>

    <div class="grid xl:grid-cols-9  md:grid-cols-6 sm:grid-cols-1 xl:gap-8">
        <div id="progress-bar" class="xl:col-span-3 md:col-span-2 bg-gray-atos">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Sobre_mi">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color" style="color: rgba(5, 150, 255, .2);"></i>
                                    <a id="finished-task" asp-page="/Experiencia_profesional">Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/formacion_academica">Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task">Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div id="progress-bar-menu" class="mt-9 mx-4">
            <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 75%"> 75%</div>
            </div>
        </div>

        <div class="xl:col-span-6 md:col-span-4 -bg-blue-400">
            <div class="right-section -bg-gray-200 ">
                <div class="form-container">
                    <div class="title-container">
                        <h1 class="text-3xl font-bold">Idiomas</h1>
                        <p>Ingresa los idiomas que mejor domines.</p>
                    </div>

                    <form>


                        <div class="grid gap-4 mb-4 xl:mb-1 lg:grid-cols-3">
                            <div class="input-box xl:col-span-2">
                                <input type="text" placeholder="Idioma" id="idioma1" name="idioma1">
                            </div>

                            <div class="input-box">
                                <select id="Nivel" class="bg-gray-50 border text-gray-900 text-sm rounded-lg w-full px-4 py-4 text-base text-gray-400 border-color-blue" style="background-color: rgba(5, 150, 255, .05); color: #0596FF;">
                                    <option>Nivel</option>
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>B1</option>
                                    <option>B2</option>
                                    <option>C1</option>
                                    <option>C2</option>
                                </select>
                            </div>
                        </div>


                        <div class="line-container" id="remover">
                            <button class="add-button" type="button" onclick="duplicate()">＋ Añadir</button>
                        </div>

                        <div class="button-container">
                            <a class="back-button" asp-page="/formacion_academica">&larr; &nbsp; Regresar</a>
                            <a class="next-button" asp-page="/Certificaciones">Siguiente</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
    <footer class="footer-container display-flex">
        <p>© Atos SE 2022 all rights reserved</p>
    </footer>



    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
    <script src="~/js/Idiomas.js" type="text/javascript"></script>

</body>
</html>