@page
@model Atos.Pages.IdiomasModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idiomas</title>
    <link rel="stylesheet" href="~/css/idiomas.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="grid section-2">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Sobre_mi">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Experiencia_profesional">Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/formacion_academica">Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task" href="#">Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a href="#">Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="form-container">
                    <div class="box-container">
                        <div class="fields-container">
                            <div class="title-container">
                                <h1>Idiomas</h1>
                                <p>Ingresa los idiomas que mejor domines.</p>
                            </div>
                            <div class="line-container flex-gap">
                                <div class="input-box input-size">
                                    <input type="text" placeholder="Idioma" id="idioma1" name="idioma1">
                                </div>
                                <div class="input-box input-size2">
                                    <select>
                                        <option>Nivel</option>
                                        <option>A1</option>
                                        <option>A2</option>
                                        <option>B1</option>
                                        <option>B2</option>
                                        <option>C1</option>
                                        <option>C2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="line-container">
                                <button class="add-button" type="">＋ Añadir</button>
                            </div>
                            <div class="button-container">
                                <a class="back-button" asp-page="/formacion_academica">&larr; &nbsp; Regresar</a>
                                <a class="next-button" asp-page="/Certificaciones">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container"></div>
</body>
</html>