@page
@model Atos.Pages.Informacion_de_contactoModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css" />

    <link rel="stylesheet" href="~/css/informacion-de-contacto.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>

<body>
    <form method="post">
        <div class="-body-container bg-primary bg-gray-900">
            <header class="header-container">
                <nav class="navbar">
                    <div class="nav-container">
                        <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>

                    </div>
                </nav>
            </header>
        </div>

        <div class="grid xl:grid-cols-9  md:grid-cols-6 sm:grid-cols-1 xl:gap-8">
            <div id="progress-bar" class="xl:col-span-3 md:col-span-2 bg-gray-atos">
                <div class="left-section">
                    <div class="progress-container">
                        <div class="task-container">
                            <ul class="task-list">
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle-check finished-color"></i>
                                        <a id="finished-task">Información Personal</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle-check selected-color"></i>
                                        <a id="selected-task">Información de Contacto</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Sobre Mí</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Experiencia Profesional</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Formación Académica</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Idiomas</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Certificaciones</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="li-container">
                                        <i class="fa-regular fa-circle"></i>
                                        <a>Enviar</a>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div id="progress-bar-menu" class="mt-9 mx-4">
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 25%"> 25%</div>
                </div>
            </div>

            <div class="xl:col-span-6 md:col-span-4 -bg-blue-400">
                <div class="right-section -bg-gray-200 ">
                    <div class="form-container">
                        <div class="title-container">
                            <h1 class="text-3xl font-bold">Información de Contacto</h1>
                            <p>Ingresa los siguientes datos solicitados para poder dirigirte a la siguiente sección.</p>
                        </div>


                        <div class="mb-6">
                            <div class="input-box ">
                                <span class="details">Teléfono</span>
                                <input asp-for="Telefono" type="text" placeholder="Teléfono" id="Telefono" required>
                            </div>
                        </div>


                        <div class="mb-6">
                            <div class="input-box ">
                                <span class="details">Correo Electrónico</span>
                                <input type="text" placeholder="Correo Electrónico" id="correoElectronico" required>
                            </div>
                        </div>


                        <div class="grid gap-6 mb-6 lg:grid-cols-2">

                            <div class="input-box ">
                                <span class="details">País</span>
                                <select id="Pais" class="bg-gray-50 border -border-blue-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full px-4 py-4 mt-2.5 text-base text-gray-400 bg-transparent border-color-blue" required>
                                    <option>--País--</option>
                                    <option>México</option>
                                </select>
                            </div>

                            <div class="input-box ">
                                <span class="details">Estado</span>
                                <select id="Estado" class="bg-gray-50 border -border-blue-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full px-4 py-4 mt-2.5 text-base text-gray-400 bg-transparent border-color-blue" required>
                                    <option value="">--Estado--</option>
                                    <option>Aguascalientes</option>
                                    <option>Baja California</option>
                                    <option>Baja California Sur</option>
                                    <option>Campeche</option>
                                    <option>Coahuila de Zaragoza</option>
                                    <option>Colima</option>
                                    <option>Chiapas</option>
                                    <option>Chihuahua</option>
                                    <option>Ciudad de México</option>
                                    <option>Durango</option>
                                    <option>Guanajuato</option>
                                    <option>Guerrero</option>
                                    <option>Hidalgo</option>
                                    <option>Jalisco</option>
                                    <option>México</option>
                                    <option>Michoacán de Ocampo</option>
                                    <option>Morelos</option>
                                    <option>Nayarit</option>
                                    <option>Nuevo León</option>
                                    <option>Oaxaca de Juárez</option>
                                    <option>Puebla</option>
                                    <option>Querétaro</option>
                                    <option>Quintana Roo</option>
                                    <option>San Luis Potosí</option>
                                    <option>Sinaloa</option>
                                    <option>Sonora</option>
                                    <option>Tabasco</option>
                                    <option>Tamaulipas</option>
                                    <option>Tlaxcala</option>
                                    <option>Veracruz</option>
                                    <option>Yucatán</option>
                                    <option>Zacatecas</option>
                                </select>
                            </div>
                        </div>


                        <div class="grid gap-6 mb-6 lg:grid-cols-2">

                            <div class="input-box ">
                                <span class="Ciudad">Ciudad</span>
                                <select asp-for="Ciudad" id="Genero" class="bg-gray-50 border -border-blue-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full px-4 py-4 mt-2.5 text-base text-gray-400 bg-transparent border-color-blue" required>
                                    <option value="">--Ciudad--</option>
                                    <option>Aguascalientes</option>
                                    <option>Chihuahua</option>
                                    <option>Escárcega</option>

                                    <option>Aguascalientes</option>
                                    <option>Asientos</option>
                                    <option>Calvillo</option>
                                    <option>Cosío</option>
                                    <option>Jesús María</option>
                                    <option>Pabellón de Arteaga</option>
                                    <option>Rincón de Romos</option>
                                    <option>San José de Gracia </option>
                                    <option>Tepezalá</option>
                                    <option>El Llano</option>
                                    <option>San Francisco de los Romo</option>
                                    <option>Ensenada</option>
                                    <option>Mexicali</option>
                                    <option>Tecate</option>
                                    <option>Tijuana</option>
                                    <option>Playas de Rosarito</option>
                                    <option>Comondú</option>
                                    <option>Mulegé</option>
                                    <option>La Paz</option>
                                    <option>Los Cabos</option>
                                    <option>Loreto</option>
                                    <option>Calkiní</option>
                                    <option>Campeche</option>
                                    <option>Carmen</option>
                                    <option>Champotón</option>
                                    <option>Hecelchakán</option>
                                    <option>Hopelchén</option>
                                    <option>Palizada</option>
                                    <option>Tenabo</option>
                                    <option>Escárcega</option>
                                    <option>Calakmul</option>
                                    <option>Candelaria</option>
                                    <option>Saltillo</option>
                                    <option>Torreón</option>
                                    <option>Monclova</option>
                                    <option>Piedras Negras</option>
                                    <option>Ramos Arizpe</option>
                                    <option>Acuña</option>
                                    <option>Zaragoza</option>
                                    <option>Sabinas</option>
                                    <option>Villa Frontera</option>
                                    <option>Matamoros</option>
                                    <option>San Pedro</option>
                                    <option>Escobedo</option>
                                    <option>San Pedro de las Colonias</option>
                                    <option>Santa Rosa de Múzquiz</option>
                                    <option>Múzquiz</option>
                                    <option>Villa de Arteaga</option>
                                    <option>Francisco I. Madero</option>
                                    <option>Parras</option>
                                    <option>Colima</option>
                                    <option>Armería</option>
                                    <option>Comala</option>
                                    <option>Coquimatlán</option>
                                    <option>Cuauhtémoc</option>
                                    <option>Ixtlahuacán</option>
                                    <option>Manzanillo</option>
                                    <option>Minatitlán</option>
                                    <option>Tecomán</option>
                                    <option>Villa de Álvarez</option>
                                    <option>Tuxtla Gutiérrez</option>
                                    <option>Tapachula</option>
                                    <option>San Cristóbal de las Casas</option>
                                    <option>Chiapa de Corzo</option>
                                    <option>Comitán de Domínguez</option>
                                    <option>Tonalá</option>
                                    <option>Ocosingo</option>
                                    <option>Cintalapa</option>
                                    <option>Villaflores</option>
                                    <option>Reforma</option>
                                    <option>Huixtla</option>
                                    <option>Arriaga                      </option>
                                    <option>Ocozocoautla de Espinosa     </option>
                                    <option>Pijijiapan                   </option>
                                    <option>Salto de Agua                </option>
                                    <option>Berriozábal                  </option>
                                    <option>Chihuahua                    </option>
                                    <option>Ciudad Juárez                </option>
                                    <option>Cuauhtémoc                   </option>
                                    <option>Delicias                     </option>
                                    <option>Hidalgo del Parral           </option>
                                    <option>Casas Grandes                </option>
                                    <option>Camargo                      </option>
                                    <option>Valle de Zaragoza            </option>
                                    <option>Saucillo                     </option>
                                    <option>Meoqui                       </option>
                                    <option>Jiménez                      </option>
                                    <option>Aldama                       </option>
                                    <option>Ciudad de México             </option>
                                    <option>Durango                      </option>
                                    <option>Gómez Palacio                </option>
                                    <option>Lerdo                        </option>
                                    <option>Santiago Papasquiaro         </option>
                                    <option>Guadalupe Victoria           </option>
                                    <option>Vicente Guerrero             </option>
                                    <option>Cuencamé                  </option>
                                    <option>El Oro                    </option>
                                    <option>Nuevo Ideal               </option>
                                    <option>Topia                     </option>
                                    <option>Poanas                    </option>
                                    <option>Guanajuato                </option>
                                    <option>León                      </option>
                                    <option>Celaya                    </option>
                                    <option>Irapuato                  </option>
                                    <option>Salamanca                 </option>
                                    <option>San Miguel de Allende     </option>
                                    <option>Silao                     </option>
                                    <option>Salvatierra               </option>
                                    <option>San Francisco del Rincón  </option>
                                    <option>San José Iturbide         </option>
                                    <option>Cortázar                  </option>
                                    <option>Valle de Santiago         </option>
                                    <option>San Luis de la Paz        </option>
                                    <option>Moroleón</option>
                                    <option>Acapulco de Juárez</option>
                                    <option>Chilpancingo de los Bravo</option>
                                    <option>Chilapa de Álvarez</option>
                                    <option>Iguala de la Independencia</option>
                                    <option>Ciudad Altamirano</option>
                                    <option>Coyuca de Benítez    </option>
                                    <option>Técpan de Galeana    </option>
                                    <option>Zihuatanejo          </option>
                                    <option>Pachuca de Soto      </option>
                                    <option>Huasca de Ocampo     </option>
                                    <option>Mineral del Monte    </option>
                                    <option>Ciudad Sahagún       </option>
                                    <option>Guadalajara          </option>
                                    <option>Zapopan              </option>
                                    <option>San Pedro Tlaquepaque</option>
                                    <option>Lagos de Moreno      </option>
                                    <option>El Salto             </option>
                                    <option>Puerto Vallarta      </option>
                                    <option>San Juan de los Lagos</option>
                                    <option>Tlajomulco de Zúñiga </option>
                                    <option>Tequila              </option>
                                    <option>Ocotlán              </option>
                                    <option>Teocaltiche          </option>
                                    <option>Arandas              </option>
                                    <option>Jocotepec            </option>
                                    <option>Toluca de Lerdo      </option>
                                    <option>Naucalpan de Juárez  </option>
                                    <option>Tultitlán de Mariano Escobedo</option>
                                    <option>López Mateos</option>
                                    <option>Tejupilco de Hidalgo</option>
                                    <option>Valle de Bravo</option>
                                    <option>Huixquilucan de Degollado</option>
                                    <option>Morelia</option>
                                    <option>Uruapan</option>
                                    <option>Apatzingán de la Constitución</option>
                                    <option>Lázaro Cárdenas</option>
                                    <option>Zamora de Hidalgo</option>
                                    <option>Jacona de Plancarte</option>
                                    <option>Heroica Zitácuaro</option>
                                    <option>Cuernavaca</option>
                                    <option>Cuautla de Morelos</option>
                                    <option>Morelos</option>
                                    <option>Puente de Ixtla</option>
                                    <option>Ciudad Ayala</option>
                                    <option>Jojutla de Juárez</option>
                                    <option>Tepic</option>
                                    <option>San Blas</option>
                                    <option>Bahía de Banderas</option>
                                    <option>La Peñita de Jaltemba</option>
                                    <option>Cruz de Huanacaxtle</option>
                                    <option>Compostela</option>
                                    <option>Santiago Ixcuintla</option>
                                    <option>Monterrey</option>
                                    <option>Apodaca</option>
                                    <option>Guadalupe</option>
                                    <option>Juárez</option>
                                    <option>General Escobedo</option>
                                    <option>Montemorelos</option>
                                    <option>Allende</option>
                                    <option>Mina</option>
                                    <option>Oaxaca de Juárez</option>
                                    <option>Juchitán de Zaragoza</option>
                                    <option>Huajuapan de León</option>
                                    <option>Heroica Ciudad de Tlaxiaco</option>
                                    <option>Ixtepec</option>
                                    <option>Ejutla de Crespo</option>
                                    <option>San Juan Bautista Tuxtepec</option>
                                    <option>Asunción Nochixtlán</option>
                                    <option>Tehuantepec</option>
                                    <option>San Pedro Pochutla</option>
                                    <option>Matías Romeros Avendaño</option>
                                    <option>Chahuites</option>
                                    <option>Santa Catarina Juquila</option>
                                    <option>Salina Cruz</option>
                                    <option>Puerto Escondido</option>
                                    <option>Santa Cruz Xoxocotlán</option>
                                    <option>Puebla de Zaragoza</option>
                                    <option>Atlixco</option>
                                    <option>Izúcar de Matamoros</option>
                                    <option>San Martín Texmelucan de Labastida</option>
                                    <option>Huejotzingo</option>
                                    <option>Amozoc</option>
                                    <option>Tepeaca</option>
                                    <option>Huauchinango</option>
                                    <option>Zacatlán</option>
                                    <option>Serdán</option>
                                    <option>Santiago de Querétaro</option>
                                    <option>Amealco de Bonfil</option>
                                    <option>San Juan del Río</option>
                                    <option>Cadereyta de Montes</option>
                                    <option>Tequisquiapan</option>
                                    <option>Ezequiel Montes</option>
                                    <option>Pedro Escobedo</option>
                                    <option>Juriquilla</option>
                                    <option>Cancún</option>
                                    <option>Isla Mujeres</option>
                                    <option>Playa del Carmen</option>
                                    <option>Chetumal</option>
                                    <option>Felipe Carrillo Puerto</option>
                                    <option>Cozumel</option>
                                    <option>Tulum</option>
                                    <option>José María Morelos</option>
                                    <option>Puerto Morelos</option>
                                    <option>San Luis Potosí</option>
                                    <option>Ciudad Valles</option>
                                    <option>Matehuala</option>
                                    <option>Río Verde</option>
                                    <option>Matehuala</option>
                                    <option>Ciudad Fernández</option>
                                    <option>Soledad de Graciano Sánchez</option>
                                    <option>Salinas de Hidalgo</option>
                                    <option>Villa Hidalgo</option>
                                    <option>Culiacán</option>
                                    <option>Mocorito</option>
                                    <option>Mazatlán</option>
                                    <option>Angostura</option>
                                    <option>El Fuerte</option>
                                    <option>Guasave</option>
                                    <option>El Rosario</option>
                                    <option>Badiraguato</option>
                                    <option>Concordia</option>
                                    <option>Navolato</option>
                                    <option>Escuinapa</option>
                                    <option>San Ignacio</option>
                                    <option>Guamúchil</option>
                                    <option>Los Mochis</option>
                                    <option>Ahome</option>
                                    <option>Sinaloa de Leyva</option>
                                    <option>Costa Rica</option>
                                    <option>Hermosillo</option>
                                    <option>Heroica Guaymas</option>
                                    <option>Navojoa</option>
                                    <option>Nogales</option>
                                    <option>Ciudad Obregón</option>
                                    <option>Ures</option>
                                    <option>Puerto Peñasco</option>
                                    <option>Magdalena de Kino</option>
                                    <option>Empalme</option>
                                    <option>Agua Prieta</option>
                                    <option>San Luis Río Colorado</option>
                                    <option>Yécora</option>
                                    <option>Nacozari de García</option>
                                    <option>Villahermosa</option>
                                    <option>Tenosique de Pino Suárez</option>
                                    <option>Macuspana</option>
                                    <option>Huimanguillo</option>
                                    <option>Comalcalco</option>
                                    <option>Heroica de Cárdenas</option>
                                    <option>Ciudad Victoria</option>
                                    <option>Tampico</option>
                                    <option>Reynosa</option>
                                    <option>Ciudad Madero</option>
                                    <option>Heroica Matamoros</option>
                                    <option>Nuevo Laredo</option>
                                    <option>Altamira</option>
                                    <option>Valle Hermoso</option>
                                    <option>Río Bravo</option>
                                    <option>San Fernando</option>
                                    <option>Aldama</option>
                                    <option>Gustavo Díaz Ordaz</option>
                                    <option>Tula</option>
                                    <option>Ciudad Mante</option>
                                    <option>Ciudad Mier</option>
                                    <option>Miguel Alemán</option>
                                    <option>Camargo</option>
                                    <option>Huamantla</option>
                                    <option>Tlaxcala de Xicohténcatl</option>
                                    <option>Apizaco</option>
                                    <option>Chiautempan</option>
                                    <option>Tlaxco</option>
                                    <option>San Pablo del Monte</option>
                                    <option>Zacatelco</option>
                                    <option>Papalotla</option>
                                    <option>Veracruz</option>
                                    <option>Xalapa</option>
                                    <option>Córdoba</option>
                                    <option>Alvarado</option>
                                    <option>Coatzacoalcos</option>
                                    <option>Catemaco</option>
                                    <option>Orizaba</option>
                                    <option>Túxpam de Rodríquez Cano</option>
                                    <option>San Andrés Tuxtla</option>
                                    <option>Cosamaloapan</option>
                                    <option>San Rafael</option>
                                    <option>Papantla</option>
                                    <option>Minatitlán</option>
                                    <option>Tierra Blanca</option>
                                    <option>Perote</option>
                                    <option>Pánuco</option>
                                    <option>Mérida</option>
                                    <option>Valladolid</option>
                                    <option>Kanasín</option>
                                    <option>Tizimín</option>
                                    <option>Motul de Carrillo Puerto</option>
                                    <option>Ticul</option>
                                    <option>Izamal</option>
                                    <option>Umán</option>
                                    <option>Muna</option>
                                    <option>Sotuta</option>
                                    <option>Zacatecas</option>
                                    <option>Fresnillo</option>
                                    <option>Jerez de García Salinas</option>
                                    <option>Río Grande</option>
                                    <option>Valparaíso</option>
                                    <option>Sombrerete</option>
                                    <option>Pinos</option>
                                    <option>Ojocaliente</option>
                                    <option>Apulco</option>
                                    <option>Momax</option>
                                    <option>Hacienda Toribio</option>


                                </select>
                            </div>

                            <div class="input-box">
                                <span class="details">Código Postal</span>
                                <input asp-for="CodigoPostal" type="text" placeholder="C.P." id="CP" required>
                            </div>
                        </div>


                        <div class="mb-6">
                            <div class="input-box ">
                                <span class="details">Dirección</span>
                                <input asp-for="Direccion" type="text" placeholder="Dirección" id="direccion" required>
                            </div>
                        </div>

                        <div class="button-container">
                            <input id="Submit1" type="submit" class="next-button" asp-page="#" value="Siguiente" />
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </form>
    <footer class="footer-container display-flex">
        <p>© Atos SE 2022 all rights reserved</p>
    </footer>

    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>

</body>
</html>