@page
@model Login.Pages.Sign_inModel
@{
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="stylesheet" href="~/css/Sign-in.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <div class="body-container">
        <div class="bg-shapes-container justify-r" style="top: -282px">
            <div class="bg-shape bg-teal opacity-50 bg-blur"></div>
        </div>
        <header class="header-container">
            <nav class="navbar">

                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="/img/LogoBlanco.png" alt=""></a>

                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a href="#" class="nav-links">Industries</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">Insights & News</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links pd-r-0">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </a>
                        </li>


                    </ul>
                </div>

            </nav>
        </header>



        <section class="page-section height-90 relative" id="home">


            <div class="main-container">
                <div class="box-container">
                    <div class="text-container even-container">
                        <h1 class="md-fs pd-bottom">Inicia sesión</h1>
                        <p class="base-fs">
                            Selecciona el tipo de usuario correcto para ingresar.
                        </p>
                    </div>
                    <div class="sign-in-btn">
                        <a class="btn-container" asp-page="/User">Usuario</a>
                    </div>
                    <div class="sign-in-btn">
                        <a class="btn-container teal-bg" asp-page="/Admin">Administrador</a>
                    </div>


                </div>
            </div>
            <div class="bg-shapes-container justify-l" style="top: 682px">
                <div class="bg-shape bg-teal opacity-50 bg-blur"></div>
            </div>
        </section>




        <footer class="footer-container display-flex">
            <p>© Atos SE 2022 all rights reserved</p>
        </footer>

    </div>

</body>
</html>
