@page
@model Atos.Pages.Sobre_miModel
@{
    Layout = "";
}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link rel="stylesheet" href="~/css/sobre-mi.css">
    <script src="https://kit.fontawesome.com/ce9bb4ca53.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="~/img/LogoBlanco.png" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="grid section-2">
            <div class="left-section">
                <div class="progress-container">
                    <div class="task-container">
                        <ul class="task-list">
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_personal">Información Personal</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check finished-color"></i>
                                    <a id="finished-task" asp-page="/Informacion_de_contacto">Información de Contacto</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle-check selected-color"></i>
                                    <a id="selected-task">Sobre Mí</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Experiencia Profesional</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Formación Académica</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Idiomas</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Certificaciones</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-container">
                                    <i class="fa-regular fa-circle"></i>
                                    <a>Enviar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="form-container">
                    <div class="box-container">
                        <div class="title-container">
                            <h1>Sobre Mí</h1>
                            <p>Ingresa los siguientes datos solicitados para poder dirigirte a la siguiente seccion.</p>
                        </div>
                        <div class="fields-container">
                            <div class="line-container">
                                <div class="input-box">
                                    <span class="details">Acerca de Mí</span>
                                    <textarea class="about-input" id="about-input" rows="5" cols="50" placeholder="Acerca de Mí" maxlength="350" onfocus="countChar()" onkeydown="countChar()" onkeyup="countChar()"></textarea>
                                    <div id="word-count">
                                        <span id="current">0</span>
                                        <span id="maximum">/ 350</span>
                                    </div>
                                </div>
                            </div>
                            <div class="title-container">
                                <h1>Habilidades</h1>
                                <p>Selecciona las habilidades que consideres más fuertes sobre ti.</p>
                            </div>
                            <div class="line-container flex-gap">
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill1">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill2">
                                </div>
                            </div>

                            <div class="line-container flex-gap">
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill3">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill4">
                                </div>
                            </div>

                            <div class="line-container flex-gap" id="addAbility" style="display: none;">
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill5">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill6">
                                </div>
                            </div>

                            <div class="line-container flex-gap" id="addAbility2" style="display: none;">
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill7">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="Habilidad" id="skill8">
                                </div>
                            </div>

                            <div class="line-container" id="remover">
                                <button class="add-button" type="button" onclick="addAbility()">＋ Añadir</button>
                            </div>

                            <div class="line-container" id="last-button" style="display: none;">
                                <button class="add-button" type="button" onclick="addAbility2()">＋ Añadir</button>
                            </div>

                            <div class="button-container">
                                <a class="back-button" asp-page="/Informacion_de_contacto">&larr; &nbsp; Regresar</a>
                                <a class="next-button" asp-page="/Habilidades">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container"></div>
    <script src="~/js/FuncionesCV.js"></script>
</body>
</html>