@page
@model Atos.Pages.VacantesModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacantes</title>


    <link rel="stylesheet" href="~/css/Vacantes.css">
    <link rel="stylesheet" href="~/css/jobsStyle.css">

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <div class="body-container">
        <header class="header-container">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" id="nav-logo"><img class="img-attributes" src="/img/LogoBlanco.png" alt=""></a>

                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a href="#" class="nav-links">Industries</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">Insights & News</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-links pd-r-0">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-links">Bienvenid@@, @Model.NombreUsuario</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>

        <section class="page-section height-40 odd-container bg-image-jobs justify-c" id="home">

            <h1 style="font-weight: bold; font-size: 5rem; color: white;">Vacantes</h1>
            <h1 class="h1-style">@Model.Msg</h1>

        </section>

        <section class="page-section white-bg">
            <div class="main-container">
                <div class="width-100">
                    <div class="width-100">
                        <div class="grid grid-col-2 mg-top">
                            <div class="filters-container">

                                <div class="flex filters-section">
                                    <div class="flex gap-12">
                                        <h4>Filtros</h4>
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="radio" checked="checked">
                                            <label>Todas las vacantes</label>
                                        </div>
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="radio" checked="checked">
                                            <label>Mas recientes</label>
                                        </div>
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="radio" checked="checked">
                                            <label>Recomendadas</label>
                                        </div>
                                    </div>

                                    <div class="flex gap-12">
                                        <h4>Ubicación</h4>
                                        <div class="input-box-2 width-100">
                                            <input class="input-container" type="text" placeholder="Ubicación...">
                                        </div>
                                    </div>

                                    <div class="flex gap-12">
                                        <h4>Industrias</h4>
                                        <select class="input-container padding-r width-100">
                                            <option value="">Todas las Industrias</option>
                                            <option value="1">Male</option>
                                            <option value="0">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="flex job-cards-container">
                                <div class="grid search-container">
                                    <div class="input-box-2 width-100">
                                        <input class="input-container" type="text" placeholder="Search...">
                                    </div>
                                    <select class="input-container padding-r width-100">
                                        <option value="">Filtrar por: Recientes</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>

                                <div class="flex gap-16">
                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>Data Scientist</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div class="button-container">
                                                <a class="" href="#">
                                                    <form asp-page-handler="pick" method="post">
                                                        <input asp-for="Perfil" type="hidden" value="Data Scientist" />
                                                        <input id="Submit" name="submit" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer" />
                                                    </form>
                                                </a>
                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>Data Engineer</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div class="button-container">
                                                <a class="" href="#">
                                                    <form method="post" asp-page-handler="pick">
                                                        <input asp-for="Perfil" type="hidden" value="Data Engineer" />
                                                        <input id="Submit1" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer;" />
                                                    </form>
                                                </a>
                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>.Net Developer</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div>

                                                <div class="button-container">
                                                    <form method="post" asp-page-handler="pick">
                                                        <input asp-for="Perfil" type="hidden" value=".Net Developer" />
                                                        <input id="Submit1" name="submit3" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer;" />
                                                    </form>
                                                </div>

                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>Java Developer</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div>

                                                <div class="button-container">
                                                    <form method="post" asp-page-handler="pick">
                                                        <input asp-for="Perfil" type="hidden" value="Java Developer" />
                                                        <input id="Submit1" name="submit3" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer;" />
                                                    </form>
                                                </div>

                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>QA Automation</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div>

                                                <div class="button-container">
                                                    <form method="post" asp-page-handler="pick">
                                                        <input asp-for="Perfil" type="hidden" value="QA Automation" />
                                                        <input id="Submit1" name="submit3" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer;" />
                                                    </form>
                                                </div>

                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cards-container">
                                        <div class="title-container">
                                            <div class="title-img">
                                                <img class="img-attributes" src="atosLogoCircular.png" alt="">
                                            </div>
                                            <div class="title-text">
                                                <h3>Front End Developer</h3>
                                                <p>New</p>
                                            </div>
                                        </div>

                                        <div class="card-text">
                                            <div class="card-details">
                                                <p>$000</p>
                                                <p class="location-style">•</p>
                                                <p class="location-style">London, London, GB-United Kingdom</p>
                                            </div>
                                            <p>Como Consultor de Transformación Digital en nuestro Programa de Graduados, desarrollará y compartirá su experiencia y conocimientos con una amplia cartera de clientes, para apoyar a algunas de las empresas líderes del mundo en su proceso de transformación digital.</p>
                                        </div>

                                        <div class="btn-like-container">

                                            <div>

                                                <div class="button-container">
                                                    <form method="post" asp-page-handler="pick">
                                                        <input asp-for="Perfil" type="hidden" value="Front End Developer" />
                                                        <input id="Submit1" name="submit3" type="submit" class="apply-btn" value="Aplicar" style="border: none; padding: 1rem; color: white; font-size: 1rem; cursor: pointer;" />
                                                    </form>
                                                </div>

                                            </div>

                                            <div class="like-btn">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </section>






    </div>

</body>
</html>